.top-nav {
    height: 30px;
    cursor: grab;
    margin-bottom: -5px;
    background-color: hsl(0, 0%, 90%)
}

.top-nav:active{
    cursor: grabbing;
}

.top-nav.dark {
    background-color: hsl(0, 0%, 11%);
    color: #fff;
}