
:root {
  overflow: hidden;
}
body {
  margin: 0;
}
main {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.lokidraw .excalidraw .excalidraw-button.sidenav-btn:active {
  box-shadow: 0 0 0 1px var(--color-brand-active);
}
.lokidraw .excalidraw h1 {
  border-width:0px;
  border-radius: 0;
  font-weight: 600;
  font-size: 16px;
}
.excalidraw input[type=text].scene-title:hover {
  color: var(--color-primary);
  border-width: 0;
}
.excalidraw input[type=text].scene-title:focus {
  border-bottom-width: 2px;
  box-shadow: none;
}

/* @media (prefers-color-scheme: dark) {
} */
